{% extends "AdminBundle::layout.html.twig" %}
{% form_theme form with ['bootstrap_3_layout.html.twig', 'VichUploaderBundle:Form:fields.html.twig']  %}
{% block admin_body %}
    <h1>{{ 'post.create_post'|trans }}</h1>
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_widget(form.name) }}
            <button class="btn btn-success pull-right" title="{{ 'post.create_post'|trans }}" type="submit"><i class="material-icons md-36">check</i></button>
            {{ form_end(form) }}
        </div>
    </div>
    <hr>
    <div class="pull-right row">
        <div class="col-md-12">
            <a class="btn btn-default" title="{{ 'back_to_list'|trans }}" href="{{ path('post_index') }}"><i class="material-icons md-36">arrow_back</i></a>
        </div>
    </div>
{% endblock %}
