{% extends "AdminBundle::layout.html.twig" %}
{% block admin_body %}
    <h1>Liste des albums</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td><a href="{{ path('album_show', { 'id': album.id }) }}">{{ album.id }}</a></td>
                <td>{{ album.name }}</td>
                <td>{% if album.created %}{{ album.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('album_show', { 'id': album.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('album_edit', { 'id': album.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('album_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
